.about-container{
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
}
.about-container .description-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    line-height: 3.5rem;
    border: 1px solid #000000;
    border-radius: 13px;
    backdrop-filter: blur(4px);
    box-shadow: 0px 4px 4px 0px #23212140;
    background: #FFFFFF80;

    padding: 20px;
    width: 85%;
}
.about-container .socials-container{
    margin-top: 15px;
    display: flex;
    align-items: end;
    gap: 5px;
}
.about-container .socials-container a{
    display: flex;
    width: fit-content;
    margin: 5px 0;
}
.about-container .socials-container a:first-child{
    margin-top: 0;
}
.about-container .socials-container a img{
    width: 35px;
    height: 35px;
    margin-right: 5px;
}
.about-container .socials-container a:hover{
    text-decoration: underline;
}
.grid:has(.light-dark-container.dark) .about-container .socials-container img{
    filter: invert(100%) brightness(30);
    transition: all 0.25s ease-in;
}
.grid:has(.light-dark-container.light) .about-container .socials-container img{
    filter: none;
    transition: all 0.25s ease-in;
}
@media(max-width: 1400px){
    .about-container .description-container{
        width: calc(100% - 30px);
        font-size: 1.75rem;
        line-height: 2rem;
    }
    .about-container .socials-container a img{
        width: 25px;
        height: 25px;
        margin-right: 5px;
    }
}
@media(max-width: 1000px){
    .about-container{
        overflow: scroll;
    }
    .about-container .description-container{
        position: relative;
        margin: 125px 0;
    }
}
