.clients-page{
    padding: 100px 15px;
    min-height: 100dvh;
}
.clients-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    
    /* padding-left: 20px; */
}
.grid:has(.light-dark-container.dark) .clients-container .card-container .description .client-name{
    color: black!important;
}
.grid:has(.light-dark-container.dark) .submit-text{
    color: #000000!important;
}
.grid:has(.light-dark-container.dark) .clients-container .card-container .socials .socials-header{
    color: black!important;
}
.grid:has(.light-dark-container.dark) .clients-container .card-container .socials img{
    filter: none!important;
}
/* .grid:has(.light-dark-container.dark) .clients-container .card-container .socials img{
    filter: invert(100%) brightness(30);
} */
.clients-container .card-container{
    /* width: 32.33%; */
    flex: 24% 0;
    display: flex;
    justify-content: space-between;
    border: 1px solid #000000;
    border-radius: 13px;
    backdrop-filter: blur(4px);
    box-shadow: 0px 4px 4px 0px #23212140;
    /* background: #FFFFFF80; */
    background: #FFFFFF;
    padding: 20px;
    align-items: center;
    align-self: stretch;
    height: 200px;
    min-height: 200px;
}
.clients-container .card-container .image{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    max-width: 50%;
}
.clients-container .card-container .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(1.5px);
    image-rendering: pixelated;
    transition: all 0.25s ease-in;
}
.clients-container .card-container:hover{
    cursor: pointer;
}
.clients-container .card-container:hover img{
    filter: blur(0px);
    transition: all 0.25s ease-in;
}
.clients-container .card-container .description{
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.clients-container .card-container .description .green{
    background-color: #2BF142!important;
    color: black!important;
}
.clients-container .card-container .description .red{
    /* background-color: #F12B2B!important; */
    color: black!important;
}
.clients-container .card-container .description .client-name{
    font-size: 2.5rem;
    margin-bottom: 30px;
    font-weight: 600;
    display: block;
}
.clients-container .card-container .description .timeline, .followers, .views, .watchtime{
    font-size: 1.75rem;
}
.clients-container .card-container .socials{
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}
.clients-container .card-container .socials .social-logos{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
.clients-container .card-container .socials .socials-header{
    font-size: 1.5rem;
    margin-bottom: 20px;
    display: block;
}
.clients-container .card-container .socials img{
    width: 40px;
    height: 40px;
    
}
.grid:has(.light-dark-container.light) .clients-container .card-container .socials img{
    filter: none;
    transition: all 0.25s ease-in;
}
.grid:has(.light-dark-container.dark) .clients-container .card-container .socials img{
    filter: invert(100%) brightness(30);
    transition: all 0.25s ease-in;
}
.contact-link{
    /* border: 1px solid #000000;
    border-radius: 13px;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px); */
    /* box-shadow: 0px 4px 4px 0px #23212140; */
    /* background: #FFFFFF80; */
    /* background: #FFFFFF; */
    padding: 15px;
    width: fit-content;
    margin: 0 auto;
    margin-top: 75px;
}
.contact-link a{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: fit-content;
    background-color: #F4FFFF;
    color: #0A0A0A;
    font-size: 1rem;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #000000;
}
.grid:has(.light-dark-container.light) .contact-link a:hover{
    background-color: #e3ecec;
  }
.contact-link a img{
    margin: 0 auto;
    margin-top: 15px;
}
/* .contact-link  */
@media(max-width: 1500px){
    .clients-container .card-container{
        height: 160px;
        min-height: 160px;
        padding: 10px;
    }
    .clients-container .card-container .image{
        width: 110px;
        height: 110px;
    }
    .clients-container .card-container .description .client-name{
        font-size: 1.75rem;
        margin-bottom: 30px;
        font-weight: 600;
        display: block;
    }
    .clients-container .card-container .socials .socials-header{
        font-size: 1.5rem;
        margin-bottom: 20px;
        display: block;
    }
    .clients-container .card-container .socials img{
        width: 30px;
        height: 30px;
        
    }
}
@media(max-width: 1000px){
    .contact-link{
        margin-top: 50px;
    }
    .contact-link a{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 10px;
        padding: 20px 25px;
    }
    .contact-link a img{
        margin: 0;
    }
    .clients-container .card-container{
        height: 300px;
        min-height: 300px;
        padding: 15px;
    }
    /* .clients-container{
        justify-content: center;
        padding-left: 0;
    } */
    .clients-container .card-container{
      
        flex-direction: column;
    }
    .clients-container .card-container .image{
        width: 150px;
        height: 150px;
        max-width: 100%;
    }
    .clients-container .card-container .description{
        width: 100%;
        text-align: center;
    }
    .clients-container .card-container .description .client-name{
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    .clients-container .card-container .description .timeline, .followers, .views, .watchtime{
        font-size: 1rem;
    }
    .clients-container .card-container .socials .social-logos{
        justify-content: center;
        gap: 15px;
    }
    .clients-container .card-container .socials img{
        width: 25px;
        height: 25px;
    }
}
@media(max-width: 700px){
    .clients-container .card-container{
        flex-direction: row;
        width: 100%;
        flex: 100%;
        height: 100%;
        min-height: auto!important;
    }
    .clients-container .card-container .image{
        width: 100px;
        height: 100px;
    }
    .clients-container .card-container .description{
        width: 55%;
        text-align: left;
    }
    .clients-container .card-container .description .client-name{
        font-size: 2rem;
    }
    .clients-container .card-container .description .timeline, .followers, .views, .watchtime{
        font-size: 1rem;
    }
    .clients-container .card-container .socials .social-logos{
        justify-content: start;
    }
    .clients-container .card-container .socials img{
        width: 24px;
        height: 24px;
    }
}